<div>
  <%= form_tag auth_sign_up_path do %>
    <%= text_field_tag :login %>
    <%= password_field_tag :password %>
    <%= submit_tag 'Register' %>
  <% end %>
  <%= link_to 'Back to login', root_path %>
</div>
