<%= form_for(@monument, url: @path) do |f| %>
  <% if @monument.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @monument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label 'Monument:' %>
  <%= f.text_field :name %>
  <br>
  <%= f.label 'Description:' %>
  <%= f.text_area :description %>
  <br>
  <%= f.label 'Category:' %>
  <%= f.select(:category_id, @categories) %>

  <% if @categories.any? %>
    <%= link_to 'Edit Categories', categories_url %>
  <% else %>
    <%= link_to 'Add Category', new_category_url %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
