<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label 'Category:' %>
  <%= f.text_field :name %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
