<!DOCTYPE html>
<html>
<head>
  <title>HitFox Case Study</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>

  <% if current_user.present? %>
    <%= link_to 'Sign out', auth_sign_out_path %> <br>
  <% end %>

  <%= yield %>

</body>
</html>
